.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Green for success */
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show {
    display: block;
    opacity: 1;
}

.notification.error {
    background-color: #f44336; /* Red for error */
}